@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');


/* components/Dashboard.css */


  /* indexdashboard.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.m {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width:100%;
}



.dashboard {
  display: flex;
  align-items: center;
  padding: 5vh;
  flex: 1;
}

.line, .pie, .advice {
  width: 60%;
  max-width: 1200px;
  margin: 1rem 0;
}

h1 {
  color: #333;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}
.advice li {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.line{
  padding:1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:80vh;
}
.pie{
  padding:2rem;
  height:30vh;
  display:flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content:space-evenly;
}

.pie1{
  height:70vh;
  width:40vh;
  flex-grow: 1;;
}
.pie2{
  height: 70vh;
  width:40vh;
  flex-grow:1;
}
@media(max-width:600px){
  .pie{
    flex-direction: column;
  }
}
  .dashboard {
    flex-direction: column;
    justify-content: space-around;
  }

  .line, .pie, .advice {
    flex: 1 1 calc(50% - 2rem);
    margin: 1rem;
  }

  .advice {
    flex: 1 1 100%;
  }
  .advice li{
    background-color: black;
    font-weight: 500;
    font-size:20px;
    padding:2;
  }

/* @media (min-width: 800px) {
  .line, .pie, .advice {
    flex: 1 1 calc(33% - 2rem);
  }
  .dashboard{
    height:300vh;
  }
  .pie{
    flex-direction: column;
  }
}
@media (min-width: 900px) {
  .line, .pie, .advice {
    flex: 1 1 calc(33% - 2rem);
  }
  .dashboard{
    height:300vh;
  }
}

@media (min-width: 1200px) {
  .line, .pie, .advice {
    flex: 1 1 calc(25% - 2rem);
  }
}
.line{
  min-height:30vh;
} */
