@media(max-width: 900px) {
    .login-left {
        display: none;
    }

    body {
        font-family: "Poppins", sans-serif;
        height: 100;
        background-color: aliceblue;

    }
}

@media(max-width: 670px) {
    .login-main {
        height: 250vh;
    }

    .login-center-options {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .login-center-buttons {
        margin-top: 20px;
    }

    .login-center h2 {
        font-size: 3rem;
    }

    .login-center p {
        font-size: 1.5rem;
    }

}

@media(max-width: 370px) {
    .login-main {
        height: 370vh;
    }
}